@{
    this.ViewData["Title"] = "Posts";
}
@model PaginatedList<Post>

<h2>Posts</h2>
@if (authManager.CurrentUser is not null)
{
    <p>
        <a asp-controller="Posts" asp-action="Create" class="btn btn-primary">Create a new post</a>
    </p>
}

<p>Find a post</p>
<form asp-controller="Posts" asp-action="Index" method="get">
    <input type="text" name="Title" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>


<div class="table">
    <div class="header">
        <div class="header-cell">Title</div>
    </div>

    @{
        foreach (var post in this.Model)
        {
            <a class="row clickable-row" href="@Url.Action("Details", "Posts", new { id = post.PostId })">
                <div class="cell">@post.Title</div>
            </a>
        }
    }
</div>


@*Pagination*@
@{
    string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
    string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
}

<a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>

@{
    int currentPageNumber = this.Model.PageNumber;
    int totalPages = this.Model.TotalPages;
    int pageRange = 3; // Брой страници, които да се показват преди и след текущата страница
    int startPage = Math.Max(1, currentPageNumber - pageRange);
    int endPage = Math.Min(totalPages, currentPageNumber + pageRange);

    if (startPage > 1)
    {
        <span><a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="1">1</a></span>
        if (startPage > 2)
        {
            <span>...</span>
        }
    }

    for (int i = startPage; i <= endPage; i++)
    {
        if (i == currentPageNumber)
        {
            <span>@i</span>
        }
        else
        {
            <span><a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
        }
    }

    if (endPage < totalPages)
    {
        if (endPage < totalPages - 1)
        {
            <span>...</span>
        }
        <span><a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@totalPages">@totalPages</a></span>
    }
}

<a asp-controller="Posts" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>

